{% extends 'base.html'%} {% import 'macros.html' as macro %} 

{%block styles%} {{
super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
{%endblock%} 


{% block content %}

<div class="container">
  <blockquote class="quote-card">
    <p>
      {{quote.quote}} 
    </p>

    <cite>
      {{quote.author}}
    </cite>
  </blockquote>
  
  <div class="tab-content">
    <div class="container tab-pane active" id="all">
      <br />
      {{ macro.display(blogs) }}
    </div>
  </div>
</div>
{% endblock%}