{% macro display(blogs) %}
<div class="container-fluid">
  <div class="row">
    {% if blogs %} {% for category in blogs %}
      <div class="card mt-5 border-5 pt-2 active pb-0 px-3 mb-3">
          <div class="card-body ">
              <div class="row">
                  <div class="col-12 ">
                      <h4 class="card-title "><b>{{category.title}}</b></h4>
                  </div>
                  <div class="col">
                      <h6 class="card-subtitle mb-2">
                          <p class="card-text">{{category.post}}</p>
                      </h6>
                  </div>
                  <hr>
                  <div>
                    <span class="foot me-5">{{category.comment.count()}} Comments</span>
                    <span class="foot me-2">
                      <a href="{{url_for('main.like',id = category.id)}}"
                        ><i class="fa fa-gratipay"
                          style="font-size: 18px; color:#63C342"
                        ></i
                      ></a>
                      {{category.upvote.count()}}</span
                    >
        
                    <span class="foot">
                        <a href="{{url_for('main.dislike',id = category.id)}}"
                          ><i class="fa fa-thumbs-down"
                            style="font-size: 18px; color:#63C342"
                          ></i
                        ></a>
                        {{category.downvote.count()}}</span
                      >
                  </div>
                  <div class="text-center">
                    <a
                    href="{{url_for('main.comment',blog_id = category.id)}}"
                    class="btn btn-info"
                  >
                    Add Comment</a
                  >
                  </div>
              </div>
          </div>
          <div class="card-footer bg-white px-0 ">
              <div class="row">
                <div class="col-md-auto ">
                  <ul class="list-inline">
                      <li class="list-inline-item"> <i class="fa fa-user ms-3"></i> </li>
                      
                  </ul>
                </div>
                  <div class=" col-md-auto "> <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><small> By | {{category.user.username}} </small></a> <i class="mdi mdi-settings-outline"></i> <a href="#" class=" btn-outlined btn-black text-muted"></a><small>{{category.time}}</small> </a><span class="vl ml-3"></span> </div>
                  
              </div>
          </div>
      </div>
  </div>


    {% endfor %} {% else %}
    <div class="card w-90 mb-3">
      <div class="card-body">
        <p class="card-title">No postings here yet, want to share?</p>
        <a
        class="btn btn-info"
      href="{{url_for('main.new_blog')}}">Add New Post</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro display_categories(categories) %}
{% for category in categories %}
   <li><a class="dropdown-item" href="/blogs/{{category}}">{{category}}</a></li>
{% endfor %} 
{% endmacro %}